.docViewer {
    margin-top: 2em;
    min-height: 85vh;
}
.navigation {
    bottom: 0px;
    display: flex;
    flex-direction: column;
    width: 10em;
    z-index: 5;
}
.navigation__page,
.navigation__scale {
    flex-direction: row;
}
.navigation input {
    align-self: center;
    width: 10em;
}
