@import '../../utils/colors';

.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99;

    .create {
        display: flex;
        flex-direction: column;
    }

    .error {
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
    }

    &__content {
        padding: 20px;
        border-radius: 10px;
        background-color: white;
        min-width: 500px;
        width: 40vw;
        display: flex;
        flex-direction: column;
    }

    button {
        align-self: flex-end;
        padding: 5px 20px;
    }

    &__close {
        align-self: flex-end;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    input {
        margin: 20px 0px;
    }
    &__buttons {
        display: flex;
        flex-direction: row;
        align-self: center;
        padding: 10px;
    }
    &__text {
        padding: 10px;
        margin: 10px;
        border-top: 1px solid;
        border-color: @font-color;
        border-radius: 1px;
    }
}
