.file {
    padding: 5px 0px;
    border-top: solid 1px rgba(34, 31, 31, 0.5);
    border-bottom: solid 1px rgba(34, 31, 31, 0.5);
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr) repeat(2, 1fr);
    align-items: center;
    cursor: pointer;
}
.file__name {
    margin-right: 30px;
    overflow: hidden;
}
.file:hover {
    background-color: rgba(34, 31, 31, 0.1);
    transform: scale(1.01);
}
.file__img {
    justify-self: center;
    pointer-events: none;
}
.file__date {
    grid-column-start: 5;
    justify-self: center;
}
.file__size {
    grid-column-start: 6;
    justify-self: center;
}
.file__btn {
    display: none;
}
.file:hover .file__download {
    grid-column-start: 7;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    display: block;
}
.file:hover .file__delete {
    grid-column-start: 8;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    display: block;
}
.file-plate {
    width: 150px;
    height: 165px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}
.file-plate:hover {
    background-color: rgba(34, 31, 31, 0.1);
    transform: scale(1.02);
}
.file-plate__name {
    width: 130px;
    overflow: hidden;
}
.file-plate__img {
    width: 100px;
    height: 100px;
}
.file-plate__btn {
    display: flex;
    padding-top: 10px;
}
.file-plate__btn button {
    padding: 0;
    margin: 0px 5px;
}
.file-plate__download,
.file-plate__delete {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    display: none;
}
.file-plate:hover .file-plate__download,
.file-plate:hover .file-plate__delete {
    display: flex;
}
