@import '../../../../utils/colors';

.file {
    padding: 5px 0px;
    border-top: solid 1px rgba(@font-color, 0.5);
    border-bottom: solid 1px rgba(@font-color, 0.5);
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr) repeat(2, 1fr);
    align-items: center;
    cursor: pointer;
    &__name {
        margin-right: 30px;
        overflow: hidden;
    }

    &:hover {
        background-color: rgba(@navbar-color, 0.1);
        transform: scale(1.01);
    }
    &__img {
        justify-self: center;
        pointer-events: none;
    }

    &__date {
        grid-column-start: 5;
        justify-self: center;
    }
    &__size {
        grid-column-start: 6;
        justify-self: center;
    }

    &__btn {
        display: none;
    }

    &:hover &__download {
        grid-column-start: 7;
        margin-left: auto;
        margin-right: auto;
        align-self: center;
        display: block;
    }

    &:hover &__delete {
        grid-column-start: 8;
        margin-left: auto;
        margin-right: auto;
        align-self: center;
        display: block;
    }
}
.file-plate {
    &:hover {
        background-color: rgba(@navbar-color, 0.1);
        transform: scale(1.02);
    }
    width: 150px;
    height: 165px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    &__name {
        width: 130px;
        overflow: hidden;
    }
    &__img {
        width: 100px;
        height: 100px;
    }
    &__btn {
        display: flex;
        padding-top: 10px;
        button {
            padding: 0;
            margin: 0px 5px;
        }
    }
    &__download,
    &__delete {
        margin-left: auto;
        margin-left: auto;
        align-self: center;
        display: none;
    }
    &:hover &__download,
    &:hover &__delete {
        display: flex;
    }
}
