.drive {
    min-height: calc(100vh - 50px);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
}
.drive__on-drag {
    border: 3px dashed rgba(34, 31, 31, 0.4);
    border-radius: 10px;
    background-color: rgba(34, 31, 31, 0.2);
    min-height: calc(100vh - 50px);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 5;
}
.drive__btns {
    display: flex;
    padding-top: 30px;
    padding-left: 10px;
}
.drive__create {
    margin-left: 10px;
}
.drive__upload-input {
    padding-top: 10px;
    display: none;
}
.drive__upload-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90px;
    border: 2px dashed #221f1f;
    border-radius: 5px;
    margin-top: 20px;
    background-color: rgba(26, 188, 99, 0.5);
    padding: 5px, 10px;
    cursor: pointer;
}
.drive button {
    padding: 5px 20px;
}
