.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center .loader {
    margin-top: 30vh;
}
.center h1 {
    margin-top: 30vh;
    color: #221f1f;
}
.window {
    display: flex;
    flex-direction: row;
    height: min-content;
    width: 100vw;
}
.window .left-aside {
    padding-top: 50px;
}
.window .left-aside__content {
    flex-direction: row;
}
.window .drive {
    min-height: calc(100vh - 50px);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5vw;
    width: 70vw;
    display: block;
}
.window .drive__on-drag {
    border: 3px dashed rgba(34, 31, 31, 0.4);
    border-radius: 10px;
    background-color: rgba(34, 31, 31, 0.2);
    min-height: calc(100vh - 50px);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5vw;
    width: 70vw;
    display: block;
}
.window .drive__btns {
    display: flex;
    padding-top: 30px;
    padding-left: 10px;
}
.window .drive__create {
    margin-left: auto;
}
.window .drive__upload-input {
    padding-top: 10px;
    display: none;
}
.window .drive__upload-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90px;
    border: 2px dashed #221f1f;
    border-radius: 5px;
    margin-top: 20px;
    background-color: rgba(26, 188, 99, 0.5);
    padding: 5px, 10px;
    cursor: pointer;
}
.window .drive__path {
    padding: 3px;
    margin-left: 10px;
    width: calc(100% - 1em);
    border: 1px solid #221f1f;
    padding-left: 5px;
    height: min-content;
    background: #cecece;
    border-radius: 5px;
    outline: none;
    color: rgba(34, 31, 31, 0.5);
}
.window .drive__path__title {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.window .drive__path__title a {
    font-weight: 50px;
    padding: 7px 10px;
    align-self: flex-end;
    margin-top: 10px;
}
.window .drive__view {
    display: flex;
}
.window .drive__view__list,
.window .drive__view__plate {
    margin-top: 15px;
    height: 25px;
    width: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    background: no-repeat center center;
    background-size: contain;
}
.window .drive__view__list:hover,
.window .drive__view__plate:hover {
    transform: scale(1.1);
}
.window .drive__view__list {
    margin-left: auto;
    background-image: url('../../assets/img/list.svg');
}
.window .drive__view__plate {
    background-image: url('../../assets/img/plate.svg');
}
.window .drive__view button {
    padding: 5px 20px;
}
.window button {
    padding: 5px 20px;
}
