.fieldset {
    border: 1px solid #221f1f;
    width: 10vw;
    min-width: 150px;
    background-color: white;
    box-shadow: 0px 0px 3px rgba(34, 31, 31, 0.5);
}
.label {
    display: block;
    position: relative;
    margin-top: 0.5em;
    padding-left: 3em;
    margin-bottom: 1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.label:hover input ~ .checkmark {
    background-color: #ccc;
}
.label input:checked ~ .checkmark {
    background-color: #2196f3;
}
.label input:checked ~ .checkmark::after {
    display: block;
}
.label .checkmark::after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkmark {
    border: 1px solid #221f1f;
    border-radius: 5px;
    position: absolute;
    left: 15px;
    height: 20px;
    width: 20px;
    background-color: #eee;
}
.checkmark::after {
    content: '';
    position: absolute;
    display: none;
}
.text {
    padding-top: 10px;
    padding-bottom: 10px;
}
